# Ignorar configuración específica de usuario de NetBeans
Agrosell/nbproject/private/
Agrosell/nbproject/private*

# Ignorar archivos y carpetas generadas automáticamente por NetBeans
Agrosell/nbproject/build-impl.xml
Agrosell/nbproject/genfiles.properties
Agrosell/nbproject/project.properties
Agrosell/nbproject/project.xml

# Ignorar la carpeta completa de NetBeans (opcional si no desean compartir ninguna config del IDE)
Agrosell/nbproject/

# Ignorar carpetas de salida de compilación
Agrosell/build/
Agrosell/dist/

# Ignorar librerías descargadas localmente
Agrosell/lib/

# Ignorar archivos compilados

# Archivos innecesarios del sistema operativo
.DS_Store
Thumbs.db
