# Ignorar configuración específica de usuario de NetBeans
nbproject/private/
nbproject/private*

# Ignorar archivos y carpetas generadas automáticamente por NetBeans
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml

# Ignorar la carpeta completa de NetBeans (opcional si no desean compartir ninguna config del IDE)
# nbproject/

# Ignorar carpetas de salida de compilación
build/
dist/

# Ignorar librerías descargadas localmente
lib/

# Ignorar archivos compilados
*.class
*.jar

# Archivos innecesarios del sistema operativo
.DS_Store
Thumbs.db
